
.card__container{
    // padding:2rem;
    background-color: $color-black;
    margin-top: 2rem !important;
}


// carousel

.caroContainer{
    background-color: #000;
    padding: 2rem;
    
    
    // display: flex !important;
    // flex-direction: row;
    // justify-content:space-between;
}
.carousel__item{
    display: flex !important; 
    justify-content: space-between !important; 
    width: 100% !important;  
}





































// .catoItem{
    
//     padding:3px;
//     background-color: grey;
//     width: 30%;
// }