// colors
$color-body: #f8f8f8;
$color-white: #fff;
$color-black: #000;
$color-hover:#F0F0F0;
$color-bgred-hover:#c53030;
$color-purple: #802FE4;
$color-navbar : rgba(73, 73, 73, 1);

// $color-text-grey: #1a202c;
$color-text-grey: #2d3748;
$color-red: #e53e3e;

$sidebar-bg-color: green;


// font-size

$logo-font-size: 1.5rem;
$navlink-font-size: 0.875rem;