:global{
  @import '../../../node_modules/slick-carousel/slick/slick.scss';
} 

.hero{
    // background-image: linear-gradient(rgba(0,0,0,0.9), rgba(0,0,0,0.9)),url(C:\Users\bbaiyewu\Desktop\universal\painless\src\img\hero4.jpg);
    // background-position: left;
    // background-size: cover;
    background: radial-gradient(175.29% 175.29% at 50.03% 49.98%, #802FE4 11.84%, rgba(56, 21, 105, 0.851737) 28.56%, rgba(56, 21, 105, 0.914886) 36.57%, #381569 41.63%, #381569 42.68%);
    // padding: 2rem  10rem  2rem 10rem;
    padding:2rem 2rem;
    color: $color-white;
  //   display: flex;
  //  align-items: center;
  //   justify-content: space-between;
    &__text{
        width:65%;
        &--body{
            font-size: 1rem;
            margin-bottom: 1.5rem;
        }
        // button{
        //     @extend .master;
        // }
    }
    &__logo{
        width:30%;
    }
   
    &__logo{
        color: $color-red;
        font-size: $logo-font-size;
    }
}

.search{
    width: 70%;
    background-color: transparent;
    // background-color: $color-white;
    display: flex;
    justify-content: space-between;
    border-radius: 30px;
    border: 2px solid $color-red;
  
    input{
        padding:1rem  2rem;
        outline: none;
        border: none;
        width: 75%;
        background-color: transparent;
        border-radius: 30px;
        color: $color-white;
        font-size: 1rem;
    }

    button{
width: 25%;
outline: none;
border: none;
border-radius: 30px;
color: $color-white;
// background-color:$color-red;
font-size: 1rem;
font-weight: 700;
position: relative;
overflow: hidden;
  display: inline-block;
  z-index: 1;
cursor: pointer;
letter-spacing: 0.1rem;

&:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: $color-red;
    border-radius: 30px;
    // border-radius: 10rem;
    transition: all .3s;
    z-index: -2;
   
  }
  &:before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0%;
    height: 100%;
    background-color:$color-bgred-hover;
    transition: all .3s;
    border-radius: 30px;
    // border-radius: 10rem;
    z-index: -1;
  }
  &:hover {
    color: #fff;
    &:before {
      width: 100%;
    }
  }
// &:hover{
//     background-color: $color-bgred-hover;
// }
    }
}
